
      <div class="dishlist-container">
          <%= image_tag item.photo.url, class: "img-responsive img-rounded dish-image" unless item.photo.nil? %>
          <div class="dishlist-info-wrapper">
            <div class="dishlist-name"><%= item.name %></div>
            <div class="dishlist-price"><%= item.price.round %>€</div>
          </div>
          <%= link_to "", business_place_path(item.business_place), class: "dish-link" unless item.business_place.nil? %>
          <!-- <a class="dish-link" href="#" ></a> -->
      </div>
      <div class="dishdetails-container">
      <!-- <div style="display: flex; justify-content: space-between;">
        <div class="dishdetails-h1"><%= item.business_place.name %></div>
        <div><%= image_tag "icon_walk.svg" %> <span style="vertical-align: bottom;">10 min</span></div>
      </div> -->
            <div class="dishdetails-h1"><%= item.business_place.name %></div>
            <!-- <div class="dishdetails-h2"><%= item.business_place.cuisine.name %></div> -->
            <div>
            <% unless session[:lat].blank? and session[:lng].blank? %>
              <!-- You should render this as a partial html.erb if you want to dynamic change the colors and apply hover and etc -->
              <%#= render 'shared/icons/icon_walk' %>

              <!-- SVG as an image - You lose the dynamic changes you can do in a vector when you do like this. But we will do anyway because of lack of time -->
              <%= image_tag "icon_walk.svg" %>

              <span style="vertical-align: bottom;">
              <% time_format = "%_M min" #23min %>
              <% time_format = "%k h %_M min" if item.walking_time.round > 60 #5h 23 min %>
              <%= Time.at(item.walking_time.round * 60).utc.strftime(time_format) %>
              </span>
            <% end %>
            </div>
            <!-- <div class="dishdetails-p"><%#= item.business_place.cuisine.name %></div> -->
      </div>


<!-- 'https://static.pexels.com/photos/128388/pexels-photo-128388.jpeg' -->
