<div class="wrapper-lightgrey" id="item-id-<%= item.id %>" dish-id="<%= item.dish.id unless item.dish.nil? %>">
<a name="item-anchor-<%= item.id %>"></a>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="dish-show-container">
          <%= image_tag  item.photo.url, class: "img-responsive img-rounded dish-image" %>
        </div>
        </div>
        <div class="col-sm-6">
          <div class="dish-show-container">
          <% if (user_signed_in? and current_user.business_places.include?(@business_place)) or @close_button %>
            <%= link_to item_path(item), method: :delete, remote: true, class: "close close-lg", aria: { label: "Close" } do %>
              <span aria-hidden="true">&times;</span>
            <% end %>
          <% end %>
          <a name="item-id-<%= item.id %>"></a>
          <div class="dish-name"><%= item.name %></div>
          <div class="dish-price">Price: <%= item.price.round %>€</div>
          <div class="dish-description"><%= item.description %></div>
          <div class="share-social"><i class="fa fa-share" aria-hidden="true"><span style="font-family: 'Open Sans', 'Helvetica', 'sans-serif'"> share</span></i></div>
          <div class="dish-social">
            <%= social_share_button_tag("The #{item.name} served at #{@business_place.name} today is looking good!", url: business_place_url(item.business_place) + "?item=#{item.id}" ) %>
            <%#= social_share_button_tag(@item.name, image: @item.photo.url, url: request.original_url + "#item-anchor-#{item.id}", desc: @business_place.name) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="height: 2px; background-color: white;"></div>
