<%= render "modal_new_item" %>
<%= render "modal_edit_dish" %>
<%= render "modal_manage_dishes" %>
<%= render "modal_edit_business_place" %>
<%= render "modal_manage_business_place" %>

<%= content_for(:meta_business_place) do %>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:domain" content="<%= request.original_url %>"/>
  <meta property="og:type" content="website" />

  <% if @show_item %>
    <!-- Today's Dish meta data for facebook and twitter -->
    <meta property="og:image" itemprop="image primaryImageOfPage" content="<%= @show_item.photo.url %>" />
    <meta name="twitter:title" property="og:title" itemprop="title name" content="<%= @show_item.name %>" />
    <meta name="twitter:description" property="og:description" itemprop="description" content="<%= @show_item.description %> @ <%= @business_place.name %>" />
    <meta property="og:url" content="<%= request.original_url + "?item=#{@show_item.id}" %>"/>
  <% else %>
    <!-- Business Place meta data for facebook and twitter -->
    <meta property="og:image" itemprop="image primaryImageOfPage" content="<%= @business_place.cover_photo.url %>" />
    <meta name="twitter:title" property="og:title" itemprop="title name" content="<%= @business_place.name %>" />
    <meta name="twitter:description" property="og:description" itemprop="description" content="<%= @business_place.description %>" />
    <meta property="og:url" content="<%= request.original_url %>"/>
  <% end %>
<% end %>

<!-- <div class="banner-small" style="background-image: url('<%# @business_place.cover_photo.url %>');"> -->
<div class="banner-small" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 55%), url('<%= image_url @business_place.cover_photo.url %>');">
  <div class="banner-small-content">
      <h2><%= @business_place.name %></h2>
      <h3><%= @business_place.description %></h3>
      <div class="banner-small-social">
        <%= social_share_button_tag("#{@business_place.name}'s page on Fresh is worth checking out!") %>
        <%#= social_share_button_tag(@business_place.name, image: @business_place.cover_photo, url: request.original_url) %>
        <!-- <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="large" data-mobile-iframe="true"<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div> -->
      </div>

        <p id="bp-phone"><%= @business_place.phone_number %></p>
        <p id="bp-address"><%= @business_place.show_address %></p>

      <%# if user_signed_in? && current_user.business_places.include?(@business_place) %>
        <%#= link_to "Manage Business Place", "#", class: "btn-medium btn-medium-white", id: "cover-button", data: { toggle: "modal", target: "#manage-bp-modal"} %>
        <%#= link_to "Edit Business Place", "#", class: "btn-medium btn-medium-white", id: "cover-button", data: { toggle: "modal", target: "#edit-bp"} %>
      <%# end %>
  </div>
  </div>

  <!-- Get me there button  -->
<div id="header-wrapper">
  <div class="" id="btn-get-me-there">
    <% if session[:lat].blank? and session[:lng].blank? %>
      <!-- Geo location NOT allowed -->
      <%= link_to "Get me there", "#directions", class: "btn btn-primary btn-block btn-badge" %>
    <% else %>
      <!-- Geo location ALLOWED -->
      <%= link_to "Get me there", "http://maps.google.com/maps/?saddr=#{session[:lat]},#{session[:lng]}&daddr=#{@business_place.latitude}, #{@business_place.longitude}&dirflg=w", target: "_blank", class: "btn btn-primary btn-block btn-badge"   %>
    <% end %>
  </div>
</div>


<!-- Today's dishes title  -->
<div class="wrapper-white text-center" id="divider">
<% if not @items.empty? or (@items.empty? and user_signed_in? and current_user.business_places.include?(@business_place)) %>
    <h2>Today's dishes</h2>
<% else %>
    <h2>Oops no dishes registered today!</h2>
<% end %>
</div>

<!-- List of Today's Items -->
<div class="js-items-list">
    <% @items.each do |item| %>
        <%= render "item_show", item: item %>
    <% end %>
</div>

<!-- testing a new layout with manage dishes -->
<% if user_signed_in? && current_user.business_places.include?(@business_place) %>

<!-- <div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="container-manager">
          <%= link_to "#", class: "task text-center", data: { toggle: "modal", target: "#manage-dishes-modal"} do %>
            <i></i>
            <i class="fa fa-list-alt fa-2x" aria-hidden="true"></i>
            <span>Dishes Portfolio</span>
          <% end %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="container-manager">
          <%= link_to "#", class: "dish-add dish-add-pin", data: { toggle: "modal", target: "#add-dish-modal"} do %>
            <i></i>
            <span>Create a Dish</span>
          <% end %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="container-manager">
          <%= link_to "#", class: "task text-center", data: { toggle: "modal", target: "#manage-dishes-modal"} do %>
            <i></i>
            <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
            <span>Manage Users</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div> -->
<% end %>

<% if user_signed_in? && current_user.business_places.include?(@business_place) %>

<div class="wrapper-lightgrey">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="dish-show-container">
          <%= link_to "#", class: "dish-add dish-add-pin", data: { toggle: "modal", target: "#add-dish-modal"} do %>
            <i></i>
            <span>Add Dish</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>





<!-- <div class="container text-center" style="height: 150px;"> -->
  <div class="wrapper-white text-center" style="height: 150px;">
    <% if session[:lat].blank? and session[:lng].blank? %>
      <div id="directions" style="padding-top: 15px;">
      <form action="http://maps.google.com/maps" method="get" target="_blank">
      <!-- Only show form is no geolocation -->
      <input type="text" name="saddr" placeholder="Starting address"/>
      <input type="hidden" name="daddr" value="<%= @business_place.full_address %>"/>
      <input type="submit" value="Go" class= "btn-medium btn-medium-yellow"/>
      </form>
      </div>
    <% else %>
      <h2>Location</h2>
    <% end %>
  </div>
<!-- </div> -->

  <div id="map" style="width: 100%; height: 500px;"></div>

  <%= content_for(:after_js) do %>

  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANIX5OkPPRTJZkKRUF80Nso8xQvwEY2mE">
    console.log('google_api')
  </script> -->

<script type="text/javascript">

    var myLatlng = new google.maps.LatLng(<%= @business_place.latitude %> , <%= @business_place.longitude %>);

    var myOptions = {
      zoom: 16,
      center: myLatlng,
      scrollwheel: false,
      draggable: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"transit.station.bus","elementType":"geometry","stylers":[{"visibility":"on"},{"hue":"#ff0000"}]},{"featureType":"transit.station.bus","elementType":"geometry.fill","stylers":[{"visibility":"on"}]},{"featureType":"transit.station.bus","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#4690ec"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"on"}]}] // TODO: replace [] by array from https://snazzymaps.com/
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "You are here!"
});

// Fix Get me there button at the top
// For the element below the button get me there
// not to jump abruptely this is needed
$('#header-wrapper').height($('.navbar-wagon').height() - 23);

// This is to fix the get me there at top
$('#btn-get-me-there').affix({
    offset: {
      top: $('.banner-small').height() - $('.navbar-wagon').height()
    }
});

//Spinner animation while doing ajax requests
$(".spinner").hide();

$(document).ajaxStart(function() {
  $(".spinner").fadeIn('slow');
}).ajaxStop(function() {
    $(".spinner").hide();
});


</script>
<% end %>



